@mixin clearfix() {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select; // IE10+
  user-select: $select;
}

body, * {
  font-family: sans-serif;
  background: #283772;
  box-sizing: border-box;
}

.container {
  width: 520px;
  height: auto;
  border: 1px solid #ccc;
  background: #fff;
  * {
    background: #fff;

  }
  box-shadow: 1px 1px 1px black;
  border-radius: 3px;
  margin: 0 auto;
  padding: 35px;
  h1 {
    text-align: center;
  }
}

.tab-page {
  display: none;
}

.active-page {
  display: block;
}

.container {
  max-width: 960px;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 1px 1px 1px black;
  border-radius: 3px;
  margin: 0 auto;
  padding: 35px;
}

.container * {
  background: #fff;
}

.container h1 {
  text-align: center;
}

.outer-wrap {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.clear-float {
  clear: both;
}

ul.tabNav {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  @include clearfix;
  @include user-select(none);
}

ul.tabNav li {
  float: left;
  height: 45px;
  line-height: 45px;
  background: #535e6c;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 0 15px;
  cursor: pointer;
  span {
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
    display: inline;
  }
}

ul.tabNav li.addTab {
  width: 45px;
  height: 45px;
  position: relative;
  &:hover {
    &:before {
      background-position: -26px 0;
    }
  }
  &:before {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
    content: '';
    width: 16px;
    height: 16px;
    background: transparent url(/images/ico-add.png) no-repeat 0 0;
    display: block;
  }

}

ul.tabNav li {
  &:hover,
  &:active {
    background: #000;
  }
  i.edit {
    background: transparent url(/images/ico-edit.png) no-repeat -22px 0;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
    &:hover {
      background-position: 0 0;
    }

  }
  i.close {
    background: transparent url(/images/ico-close.png) no-repeat -22px 0;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
    &:hover {
      background-position: 0 0;
    }
  }
}

ul.tabNav li.active {
  background: #fff;
  span {
    color: #535e6c;
  }
  i.edit {
    background: transparent url(/images/ico-edit.png) no-repeat -66px 0;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
    &:hover {
      background-position: -44px 0;
    }

  }
  i.close {
    background: transparent url(/images/ico-close.png) no-repeat -66px 0;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
    &:hover {
      background-position: -44px 0;
    }
  }
}

.tab-page {
  position: relative;
  width: 100%;
  padding: 25px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: thin #535e6c solid;
  min-height: 400px;
  i.edit {
    position: absolute;
    right: 20px;
    background: transparent url(/images/ico-edit.png) no-repeat -66px 0;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
    &:hover {
      background-position: -44px 0;
    }

  }
}

img {
  max-width: 500px;
}

.ninety-percent-pad {
  width: 90%;
  margin: 25px auto;
}

.tabNav li span {
  padding: 5px;
  background: transparent !important;
}

.tabNav li.editable {
  background: #fff;
  color: #000;
}

.tabNav li.editable span {
  background: #fff !important;
  color: #000;
}
