@mixin clearfix() {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select; // IE10+
  user-select: $select;
}

body {
  font-family: sans-serif;
  background: #313949;
  margin: 0;
}

.tabNavSection {
  background: #313949;
}

* {
  box-sizing: border-box;
}

.tab-page {
  display: none;
}

.active-page {
  display: block;
}

.container {
  max-width: 990px;
  padding: 0 15px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.container h1 {
  color: #fff;
  font-size: 40px;
  height: 100px;
  line-height: 100px;
  margin: 0;
}

.tabsSection {
  background: #fff;
  padding-bottom: 80px;
}

.clear-float {
  clear: both;
}

ul.tabNav {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  @include clearfix;
  @include user-select(none);
  padding-top: 2px;
}

ul.tabNav li {
  float: left;
  height: 45px;
  line-height: 45px;
  background: #535e6c;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 0 15px;
  cursor: pointer;
  span {
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    display: inline;
  }
}

ul.tabNav li.addTab {
  width: 45px;
  height: 45px;
  position: relative;
  &:hover {
    &:before {
      background-position: -26px 0;
    }
  }
  &:before {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
    content: '';
    width: 16px;
    height: 16px;
    background: transparent url(../images/ico-add.png) no-repeat 0 0;
    display: block;
  }

}

ul.tabNav li {
  &:hover,
  &:active {
    background: #000;
  }
  i.edit {
    background: transparent url(../images/ico-edit.png) no-repeat -22px 0;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
    &:hover {
      background-position: 0 0;
    }

  }
  i.close {
    background: transparent url(../images/ico-close.png) no-repeat -22px 0;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
    &:hover {
      background-position: 0 0;
    }
  }
}

ul.tabNav li.active {
  background: #fff;
  span {
    color: #535e6c;
  }
  i.edit {
    background: transparent url(../images/ico-edit.png) no-repeat -66px 0;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
    &:hover {
      background-position: -44px 0;
    }

  }
  i.close {
    background: transparent url(../images/ico-close.png) no-repeat -66px 0;
    width: 12px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
    &:hover {
      background-position: -44px 0;
    }
  }
}

.tab-page {
  @include clearfix;
  position: relative;
  width: 100%;
  padding: 40px 25px 25px 25px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: thin #535e6c solid;
  min-height: 250px;
  h1 {
    color: #000;
  }
  i.edit {
    @include user-select(none);
    position: absolute;
    top: 10px;
    right: 25px;
    background: url(../images/ico-edit-content.png) no-repeat -31px 0;
    width: 19px;
    height: 19px;
    margin-left: 15px;
    display: inline-block;
    cursor: pointer;
    &:hover {
      background-position: 0 0;
    }
  }
  i.save {
    @include user-select(none);
    position: absolute;
    top: 10px;
    right: 25px;
    background: url(../images/ico-save.png) no-repeat -30px 0;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    display: none;
    cursor: pointer;
    &:hover {
      background-position: 0 0;
    }

  }
}

img {
  max-width: 100%;
}

.ninety-percent-pad {
  width: 90%;
  margin: 25px auto;
}

.tabNav li span {
  padding: 5px;
  background: transparent !important;
}

.tabNav li.editable {
  background: #fff;
  color: #000;
}

.tabNav li.editable span {
  background: #fff !important;
  color: #000;
}

.nicEdit-main {
  min-height: 250px !important;
  padding: 10px;
}

.tabsAdditionalControls {
  margin-top: 20px;
  & > div {
    margin-top: 20px;
  }
}

#createdTabContent {
  width: 100%;
  border-width: 0px 1px 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 250px;
}

.addTabForm {
  @include clearfix;
  input {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 0 10px;
  }
  button {
    float: right;
    height: 45px;
    line-height: 45px;
    background: #535e6c;
    border: 0 solid;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
    cursor: pointer;
    &:hover,
    &:active {
      background: #000;
    }
  }
}

.areaRow {
  @include clearfix;
  margin-top: 20px;
  margin-bottom: 20px;
}

